version: 2
jobs:
  build:
    working_directory: ~/repo

    docker:
      - image: circleci/python:3.6.4
        environment:
        - DJANGO_SETTINGS_MODULE: hc.settings

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      - image: circleci/postgres:9.4
      - image: circleci/mysql:8.0


    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
            pip install braintree coveralls mock

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      # run tests!
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            python manage.py makemigrations
            python manage.py migrate
            python manage.py collectstatic --noinput
            python manage.py test
            coverage run --omit="*/tests/*" --source=hc manage.py test
            COVERALLS_REPO_TOKEN=iXhhtz0pTXcDFSpDPfGLL2UirogDXEKXl coveralls

      - store_artifacts:
          path: test-reports
          destination: test-reports
